.header{
	height: 88em;
}

.banner{
	width: 100%;
	height: auto;
	margin-top: -4em;
	padding: 10px;

}

.banner img{
	width: 30%;
}

.bandeira{
	position: relative;
	left: 70em;
	bottom: 4em;
	width: 8%

}

.signin{
	width: 100%;
	height: auto;
}

.signin img{
	width: 49%;
	margin-top: 2px;
	box-shadow: 5px 10px;
	border: 0.2px solid;

}

.botoes{
	width: 100%;
	height: auto;
	background-color: #4576b5;
}

.frase{
	width: 100%;
	height: auto;
}

.frase img{
	width: 100%;
}



.relogio{
	width: 100%;
	height: auto;
}

.relogio p{
	color:#4576b5;
	font-size: 4em;
	text-align: center;
	margin-top: 20px;
	text-shadow: 3px 3px 12px #fff;

}

.logos{
	width: 100%;
	height: auto;

}

/*3 logos logo abaixo do contador
*/
.logos img{
	width:23%;
}
.agencia{
	width: 80%!important;
}
.palestrantes{
	width:70%;
}

.botao_insc{
	width:70%;
	margin-bottom: 3em;
}	
.noticias{
	width:50%;
}
/*logo explo quando abre o modal*/
.modalogo{
/*position: relative;
bottom: 9em;
right: 5em;*/
float: right;
}

@media (min-width: 1440px)
{
	.header .subtitle {
		font-size: 1.3em;
		left: 21em;

	}

	.header ul li {
		margin-left: 16.5em;
	}

	.header {
		height: 106em;
	}
}

@media (max-width: 1280px)
{
	.header{
		height: 106em;
	}
	.header ul li {
   	 margin-left: 16em;
	}
}

@media (max-width: 1024px)
{	
	
	.header {
		height: 92em;
	}
	.header ul li {
		margin-left: 12.5em;

	}

	.bandeira{
		left: 57em;
	}

	.revista{
		margin-left: 3em;

	}
	.header .subtitle {
		font-size: 1.2em;
	}

	.register-now{
		text-align: center!important;
		right: 7em;
		top: 34em;
	}

	.bfix{
		left: 1em;

	}

	.globallogo{

		right: -38em;

	}
}

@media (max-width: 812px)
{

	.header .signin ul li {
		margin-left: 7.5em;
	}
	.credenciamento {
		top: -42em;
		width: 42%;
	}

	.relogio p {
		font-size: 3em;
	}

	.header {
		height: 82em;
	}

	.revista {
		margin-left: 2.2em;
	}

	.bandeira {
		left: 44.5em;
	}

	.globallogo {
		right: -29em;
	}
}

@media (max-width: 769px)
{

	.agencia{
		width: 90%!important;
	}
	.viagem{
		width: 40%;
	}

	.credenciamento {
		position: relative;
		top: -26em;
		width: 66%;
	}

	.header {
		height: 72em;
	}

	.fixtudo{
		position:relative;
		top: -14em;
	}

	.bandeira {
		left: 41.5em;
	}

	.revista{
		margin-left: 1.69em;

	}


}



@media (max-width: 667px)
{

	.header {
		height: 68em;
		;
	}
	
	.header .signin ul li {
		margin-left: 4.5em;
	}

	.banner img {
		width: 44%;
	}

	.relogio p {
   	 font-size: 2.6em;
	}
	
	.revista {
		margin-left: 1.2em;
	}


	.bandeira {
		left: 33.5em;
		width: 16%; 
	}
}
@media (max-width: 640px)
{


	.credenciamento {
		top: -28em;
		width: 64%;
	}
	.revista {
		margin-left: 1.2em;
	}

	.direita {
		margin-left: 0em;
	}

	.globallogo {
		left: 23em;
	}
}

@media only screen and (max-width: 600px) {

	.banner img {
		width: 62%;
	}
	.header ul li a {
		font-size: 1em;

	}

	.header {
		height: 119em;
	}

	

	.header .signin ul li {
    	margin-left: 3.5em;
	}



	.logos img {
		width: 50%;
		margin-top: 18px;
	}

	.relogio p {
		font-size: 2.5em;
	}
}

@media (max-width: 568px)
{

	.header {
		height: 116em;
	}


	.bandeira {
		left: 31em;	
	}

	.header .signin ul li {
		margin-left: 2.6em;
	}

	.relogio p {
		font-size: 2.3em;
	}

	
	.revista {
		margin-left: 1.8em;
	}

}

@media (max-width: 510px)
{	

	.header .signin ul li {
    	margin-left: 0.4em;
	}

	.signin img {
		width: 100%;

	}

	.relogio p {
		font-size: 2em;
	}
	.revista {
		margin-left: 1.3em;
	}

	.bandeira {
		left: 27em;	
	}

}

@media (max-width: 481px)
{	
	.viagem{
		width: 50%;
	}

	.header {
		height: 111em;
	}

	.header .signin ul li {
		margin-left: 4em;
	}	
	
	.bandeira {
		left: 25em;
	}

	.relogio p {
		font-size: 1.8em;
	}
	.revista {
		margin-left: 1.1em;
	}

}

@media (max-width: 426px)
{	
	
	.header {
		height: 120em;
	}

	.header .signin ul li {
		margin-left: 3em;
		margin-top: 1px;
		padding-top: 5px;
	}


	.bandeira {
		left: 20.2em;
		bottom: 57px;
	}

	.relogio p {
		font-size: 1.5em;
	}

	.palestrantes{
		width:100%;
	}

	.botao_insc {
		width: 100%;
	}

	.revista{
		margin-left: 2.5em;

	}

	

	.direita{
		width: 29%;
		margin-left: 1em; 
	}



	.schedule ul li a{
		font-size: 0.9em!important;
	}

	.topics{
		margin-top: -32em!important;
	}
}

@media (max-width: 412px)
{

	.header .signin ul li {
    	margin-left: 2em;
    	margin-top: 1px;
 	   padding-top: 5px;
	}
	.relogio p {
		font-size: 1.5em;
	}
}
@media (max-width: 376px)
{

	.header {
	    height: 126em;
	}

	.header ul li a {
		font-size: 10.1px;
		margin-left: -1.5em;
	}

	.header .signin ul li {
   	 	margin-left: 3em;
    
	}

	.banner img {
    	width: 100%;
	}
	.relogio p {
		font-size: 1.3em;
	}

	.logos img {
 	   width: 80%;
 	   margin-top: 18px;
	}

	.bandeira {
		left: 17em;

	}
	.revista{
		margin-left: 1.5em;

	}

	.viagem {
  	  width: 100%;
	}

	.agencia {
  	  width: 100%!important;
	}

	.noticias{
		width:100%;
	}
}

@media (max-width: 360px)
{

	.header {
   	 height: 126em;
	}

	.header ul {
    	padding: 15px 55px;
	}


	.relogio p {
   		 font-size: 1.4em;
	}

	.revista{
		margin-left: 1.8em;

	}

	.bandeira {
		left: 16.6em;
	}

}

@media (max-width: 321px)
{	

	.header {
		height: 115em;
	}

	.header ul li a {
  	  font-size: 10.1px;
   	  margin-left: -3.5em;
	}

	.bandeira {
		left: 13.5em;
		width: 33%;

	}

	.relogio p {
    	font-size: 2em;
	}
	.revista{
		margin-left: 1em;
		bottom: 4px

	}

	.price h4 span
	{
		font-size: 0.6em!important;

	}
	.info
	{
		padding: 2em;
	}
	.register-now a.button{
		padding: 0 2px!important;
	}

	.schedule ul li a{
		font-size: 0.7em!important;
	}

}